/* HomePage.css */
.icon-box {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.icon-box:hover {
  background-color: #e6f7ff; /* Pale light blue */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
body {
  background-color: red;
}
